<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <!-- Sử dụng vùng Header của Webpage để hiển thị tên và nội dung của doanh nghiệp. -->
    <header>
         FORWARD FITNESS CLUB
    </header>
    <!-- Sử dụng vùng nav để thêm hyperlinks đến những trang khác trong website. -->
    <nav>
      Home &nbsp; &nbsp;
      About Us &nbsp; &nbsp;
      Classic &nbsp; &nbsp;
      Nutrition &nbsp; &nbsp;
    </nav>
    <!-- Sử dụng vùng main để thêm nội dung chính của Webpage -->
    <main>


    </main>
    <!-- Sử dụng vùng footer để thêm nội dung chân trang-->
    <footer>
        &copy; Copyright 2020. All Rights Reserved <br>
        forwardfitness@club.net

    </footer>
</body>
</html>